<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <section class="site-footer">
        <nav>
            <a href="http://get-popcorn.com" class="logo">Popcorn time</a>
            <ul class="social">
                <li><a href="http://get-popcorn.com/" target="_blank" class="popcorn"></a></li>
                <li><a href="http://blog.get-popcorn.com/" target="_blank" class="blog"></a></li>
                <li><a href="http://discuss.get-popcorn.com/" target="_blank" class="discourse"></a></li>
                <li><a href="https://twitter.com/popcorntimetv" target="_blank" class="twitter"></a></li>
                <li><a href="https://plus.google.com/106562585070802704431" rel="publisher" target="_blank" class="google"></a></li>
                <li><a href="https://www.facebook.com/PopcornTimeTv" target="_blank" class="facebook"></a></li>
                <li><a href="https://github.com/popcorn-official" target="_blank" class="github"></a></li>
            </ul>
        </nav>
        <footer>
            <!--<a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>-->
            <hr>
            <section class="poweredby">Proudly powered by <a class="icon-ghost" href="https://ghost.org">Ghost</a></section>
            <p>Made with <span>&#10084;</span> by a bunch of geeks from All Around The World</p>
            <small>
                <a id="status" data-i18n="footer.faq" href="http://status.get-popcorn.com/" target="_blank">Status</a> &mdash; 
                <a data-i18n="footer.tos" href="tos">Terms of Service</a> &mdash; 
                <a data-i18n="footer.faq" href="faq">FAQ</a>
            </small>
        </footer>
    </section>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
